<%- include('parts/top.ejs') %>


<!-- Page Content -->
<div class="page-heading about-heading header-text">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="text-content">
            <h4>about us</h4>
            <h2>our book store</h2>
            </div>
        </div>
        </div>
    </div>
    </div>


    <div class="best-features about-features">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
            <h2>Our Background</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-image">
            <img src="images/feature-image.jpg" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="left-content">
            <h4>Who we are &amp; What we do?</h4>
            <p>We are a dedicated team of book lovers committed to bringing readers a simple, modern, and enjoyable way to discover great books. Our eBook store was created to make reading accessible to everyone—anytime, anywhere. From bestselling titles to hidden gems, we carefully curate a wide range of digital books to suit every interest and passion. What we do is connect readers with stories and knowledge they’ll love, all through a smooth and convenient online experience. Your next favorite book is always just a click away.</p>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    </div>


    <%- include('parts/bottom.ejs') %>
  